.banner {
    margin: auto;
    padding: 20vh 3% 0 3%;
    background-position: top center;
    background-size: cover;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90deg, rgba(170, 54, 124, 0.5) -6%, rgba(74, 47, 189, 0.5) 112%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0.8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.banner a {
    text-decoration: none;
}

.banner button svg {
    display: block;
    font-size: 25px;
    transition: 0.3s ease-in-out;
    line-height: 1;
    color:#2b313b;
}

.banner button:hover {
    transform: scale(1.15);
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}