.container {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#portfolio {
    padding: 0 2rem;
}

#projects {
    padding-top: 72px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio-item {
    background: linear-gradient(90deg, rgba(170, 54, 124, 0.5) -6%, rgba(74, 47, 189, 0.5) 112%);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    height: 100%;
    /* all 400ms ease; */
}

.portfolio-item:hover {
    border-color: white;
    transform: scale(1.02);
}

.portfolio-item-image {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.portfolio-item-image img {
    width: 100%;
    border-radius: 1rem;
}

.portfolio-item h3 {
    margin: 1.2rem 0 1.2rem;
}

.cta {
    color: white;
    text-decoration: none;
}

.portfolio-item .portfolio-item-btn{
    color: white;
}

@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1.2 rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-container {
        gap: 1 rem;
    }
}

