.timeline-title h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.timeline-location h4 {
    margin-bottom: 0;
}

.timeline-item {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* padding-right: 30px; */
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    /* align-self: flex-end;
    justify-content: flex-start; */
    align-self: flex-end;
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 30px;
}

.timeline-item-content {
    max-width: 95%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    border-radius: .75rem;
}

.timeline-item-content::after {
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    background-color: rgba(0, 116, 204, 0.7);
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content {
    align-items: flex-start;
    text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .circle {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    z-index: 98;
    border: 3px solid #8f75d1;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 767px) {
    .timeline-item-content .circle {
        width: 0;
        border: none;
        height: 0;
    }

    .timeline-item-content::after {
        content: "";
        width: 0;
        height: 0;
    }

    .timeline-item-content {
        align-items: flex-start;
        margin: 0 auto;
    }

    .timeline-item {
        width: 100%;
        display: block;
        align-self: auto;
        padding-right: 0;
    }

    .timeline-item:nth-child(odd) {
        padding-left: 0;
        align-self: flex-start;
    }
}